@charset "UTF-8";

/* Estilo para impressoras*/


*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1em;
}

menu{
    display: none;
}

h1{
    text-align: center;
    padding: 10px;
}

h2{
    padding: 10px;
}

p{
    padding: 10px;
}

article{
    width: 100%;
}

article::after{
    content: 'Esse artigo recebeu CSSs diferentes por Media Query';
}