@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    height: 100vh;
}


header{
    background-color: gray;
    padding: 10px;
    font-variant: small-caps;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.559);

    display: flex;
    align-items: center;
}

@media screen and (min-width: 769px){
    header{
        flex-flow: row wrap;
        justify-content: space-between;
    }

    header h1{
        flex: 1 0 500px;
    }
    
    header menu{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        flex: 1 0 500px;
    }
    header menu a{
        margin: 5px;
        flex: 0 0 100px;
    }
}

@media screen and (max-width: 768px){
    header{
        flex-flow: column nowrap;
    }

    header h1{
        flex: 1 1 50px;
    }
    
    header menu{
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
    }

    header menu a{
        margin: 5px 0px;
        width: 90vw;
    }
}

header menu a{
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 10px;
}
header menu a:hover{
    color: black;
    background-color: white;
    cursor: pointer;
    transition-duration: 0.7s;
}


main{
    margin: auto;
    margin-top: 20px;
    width: 90vw;
    max-width: 1000px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.559);
}
main h1{
    margin: auto;
    text-align: center;
    padding: 10px;
}
main p{
    margin: auto;
    text-align: justify;
    padding: 10px;
    text-indent: 15px;
}