@charset "UTF-8";

body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    padding: 10px;
    gap: 10px;
    border: 2px solid black;
    background-color: white;
    display: grid;
    grid-template: repeat(3,100px)/repeat(4,1fr);
}

.caixa1{
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 4;

    background-color: greenyellow;
    border: 2px solid black;
}
.caixa2{
    grid-row: 2/3;
    grid-column: 1/2;
    
    background-color: red;
    border: 2px solid black;
}
.caixa3{
    grid-area: 2 / 2 / 4 / 4 ;
    
    background-color: cyan;
    border: 2px solid black;
}