@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    transition: 0.7s;
}
:root{
  --fundo-principal: #efefef;
  --texto: #222222;
  --texto-inverso:#ffffff;
  --destaque: #008000;
  --destaque-inverso: #9acd32;
  --fundo-card: #ffffff;
}
body{
  height: 100dvh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);

  display: grid;
  grid-template-rows: 100px 1fr 100px;
}

header , footer{
  background-image: linear-gradient(to bottom, var(--destaque-inverso), var(--destaque));
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1 , footer p, footer a{
  font-variant: small-caps;
  color: var(--fundo-card);
  text-shadow: 2px 1px 0px black;
  text-decoration: none;
}
footer a:hover{
  color: var(--destaque);
}

section , main{
  margin: auto;
}
form , div{
  width: 500px;
  height: 300px;
  background-color: var(--fundo-card);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.493);

  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
  justify-content: space-around;
}
form label , div p{
  font-variant: small-caps;
  color: var(--texto);
}
form #idnome, form #idsobrenome{
  padding: 5px;
  border-radius: 5px;
}
form #idenviar{
  padding: 5px;
  background-color: var(--destaque);
  color: var(--fundo-card);
  border: none;
  font-weight: bolder;
  font-size: 1.1em;
  font-variant: small-caps;
  border-radius: 5px;
}
form #idenviar:hover{
  background-color: var(--destaque-inverso);
  color: var(--texto);
  cursor: pointer;
}