@charset "UTF-8";

body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    padding: 10px;
    gap: 10px;
    border: 2px solid green;
    background-color: greenyellow;
    display: grid;
    grid-template: repeat(3,100px)/repeat(4,1fr);
}

.caixa1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: white;
}
.caixa2{
    background-color: red;
}
.caixa3{
    background-color: blue;
}